name: test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  lints:
    name: Format + Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - run: flutter pub get
      - run: dart format --output none --set-exit-if-changed .
      - run: dart analyze --fatal-warnings .
  linux:
    name: webcrypto on Linux desktop / Chrome / Firefox
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Configure Flutter
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
          flutter config --no-analytics
      - run: flutter pub get
      - run: flutter pub run webcrypto:setup
      - run: flutter test
      - run: flutter test --platform chrome
      - run: xvfb-run flutter test integration_test/webcrypto_test.dart -d linux
        working-directory: ./example
      - uses: nanasess/setup-chromedriver@v2
      - name: Run integration_test with chromedriver
        working-directory: ./example
        run: |
          xvfb-run ../tool/with-chromedriver.sh flutter drive \
            --driver=test_driver/integration_test.dart \
            --target=integration_test/webcrypto_test.dart \
            -d chrome
      - run: xvfb-run flutter pub run test -p vm,chrome,firefox
  macos:
    name: webcrypto on macOS desktop / Chrome
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Configure Flutter
        run: |
          flutter config --no-analytics
      - run: flutter pub get
      #- run: flutter pub run webcrypto:setup
      #- run: flutter test
      #- run: flutter test --platform chrome
      #- run: flutter test integration_test/webcrypto_test.dart -d macos
      #  working-directory: ./example
      # TODO: Enable chromdriver testing on MacOS when it works reliably
      #- uses: nanasess/setup-chromedriver@v2
      #- name: Run integration_test with chromedriver
      #  working-directory: ./example
      #  run: |
      #    ../tool/with-chromedriver.sh flutter drive \
      #      --driver=test_driver/integration_test.dart \
      #      --target=integration_test/webcrypto_test.dart \
      #      -d chrome
      - uses: browser-actions/setup-firefox@v1
      - run: bash -c 'which firefox'
      - run: flutter pub run test -p firefox #vm,chrome # TODO: Enable firefox if it works
  windows:
    name: webcrypto on Windows desktop / Chrome / Firefox
    runs-on: windows-latest
    steps:
      - uses: ilammy/setup-nasm@v1
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Configure Flutter
        run: |
          flutter config --no-analytics
      - run: flutter pub get
      - run: flutter pub run webcrypto:setup
      - run: flutter test
      #- run: flutter test --platform chrome
      - run: flutter test integration_test/webcrypto_test.dart -d windows
        working-directory: ./example
      - uses: nanasess/setup-chromedriver@v2
      - name: Run integration_test with chromedriver
        working-directory: ./example
        shell: bash
        run: |
          ../tool/with-chromedriver.sh flutter drive \
            --driver=test_driver/integration_test.dart \
            --target=integration_test/webcrypto_test.dart \
            -d chrome
      - run: flutter pub run test -p vm,chrome,firefox
  ios:
    name: webcrypto on iOS emulator (iPhone)
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Configure Flutter
        run: |
          flutter config --no-analytics
      - uses: futureware-tech/simulator-action@v3
        with:
          model: 'iPhone 15'
      - run: flutter pub get
      - run: flutter test integration_test/webcrypto_test.dart -d iphone
        working-directory: ./example
  android:
    name: webcrypto on Android emulator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - name: Configure Flutter
        run: |
          flutter config --no-analytics
      - run: flutter pub get
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run flutter test integration_test/webcrypto_test.dart -d android
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          working-directory: ./example
          script: flutter test integration_test/webcrypto_test.dart -d android
